body {
  background-color: #1a1a1a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  /*height: 100vh;
  /*margin: 0;*/
}

.wheel-outer {
  position: relative;
  padding: 15px;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 0, 10px, 40px rgba(0,0,0,0.6);
}

.marker {
  position: absolute;
  top: -10px;
  left: 50%;
}

.wheel {
  width: 320px;
  height: 320px;
  
  background-color: lightgreen;
  border-radius: 50%;
}



button:hover {
  cursor: pointer;
}

a:link{
  text-decoration: none;
  color: white;
}
 a:visited {
  text-decoration: none;
  color: white;
}
 a:hover {
  text-decoration: none;
  color: #555;
}
 a:active{
  text-decoration: none;
  color: white;
}